@font-face {
  font-family: "Pretendard Variable";
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
  src: url("./woff2/PretendardVariable.woff2") format("woff2-variations");
}

body {
  margin: 0 auto;
  min-width: 1280px;
}
* {
  box-sizing: border-box;
}

.content{
  width: 100vw;
  display: flex;
  background-color: yellow;
  flex-direction: column;
  align-items: center;
}
nav {
  font-family: "Pretendard Variable";
  flex-direction: row;
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  align-items: center;
  height: 80px;
}

/* memubar */
.web_menubar {
  gap: 80px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

/*mainmanu start*/
.web_mainmenu {
  display: flex;
  gap: 80px;
  color: black;
  font-weight: 500;
}

.web_mainmenu > div {
  cursor: pointer;
}

/*submenu start*/
.web_submenu {
  display: flex;
  gap: 16px;
  font-weight: 600;
}

.web_submenu > div {
  border-radius: 50px;
  padding: 8px 16px;
  color: white;
  cursor: pointer;
}

.web_submenu > div:first-child {
  background-color: #876815;
}
.web_submenu > div:last-child {
  background-color: #497b72;
}

/* section */
.container1 {
  display:flex;
  justify-content: center;
  background-color: #f7f2ec;
  width:100vw;
}

.container2 {
  display:flex;
  justify-content: center;
  background-color: #FBE2E1 ;
  width:100vw;
}

.container3 {
  display:flex;
  justify-content: center;
  background-color: #fff;
  width:100vw;
}
.container4 {
  display:flex;
  justify-content: center;
  background-color: #83706F;
  width:100vw;
}


/* first */

section.first {
  background-color: #f7f2ec;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 114px;
}

section.first .title {
  color: #807863;
  font-family: 210 Ohneuleun;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

section.first.main {
  height: 100%;
  background-color: #f7f2ec;
}

.slideBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

/*TODO : 추후 반응형 적용되는지 사이즈 고민*/
.swiper {
  width: 810px;
  height: 477px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  margin: 20px;
  height: 477px;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

/* side */
section.first .side {
  width: 264px;
  gap: 43px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section.first .side > div {
  width: 264px;
  height: 264px;
  border-radius: 500px;
  cursor: pointer;
}

section.first .side > div:first-child {
  width: 264px;
  background-color: #eec692;
  color: #876815;
}

section.first .side > div:last-child {
  width: 264px;
  background-color: #497b72;
  color: white;
}

section.first .sideBtn {
  width: 264px;
  gap: 10px;
  font-size: 36px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.swiper .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  margin: 0 12px 0 0 !important;
}

.swiper .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #497b72 !important;
}


/* section 2 */
section.second {
  height:100%;
  background-color: #FBE2E1 ;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:10%;

}

.headline hr {
  flex: 1;
  border: none;
  border-top: 1px solid #D68282; /* 가로선 스타일 설정 */
  margin: 0 10px; /* 가로선 사이의 간격 설정 */
}

.headline {
  display: flex;
  align-items: center;
  text-align: center;
  width: 90%;
  margin-bottom: 12%;
}

.headline span {
  font-family: "Pretendard Variable";
  font-size: 36px;
  font-weight: 600;
  margin:0 30px;
  white-space: nowrap; /* 텍스트가 줄 바꿈되지 않도록 설정 */
}

.infoContainer{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10%;
}

.infoContainer .infoBox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.infoContainer .subTitle{
  color: #222020;
  font-family: "Pretendard Variable";
  font-size: 36px;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 10px;
  margin-top: 35px;
}

.infoContainer .info{
  color: var(--gray, #736D6D);
  font-family: "Pretendard Variable";
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  line-height: 150%; /* 36px */
}

footer {
  background-color: #83706F;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap:120px;
  padding:2% 5%; 
}

footer > .info{
  color: #FFF;
  font-family: "Pretendard Variable";
  font-size: 20px;
  line-height: 150%; /* 30px */
}


footer .title{
  color: #FFF;
  font-family: "Pretendard Variable";
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/* section 3 */

section.third {
  height:832px;  
  background-color: #fff ;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:36px;

}

.boardContainer{
  display: flex;
  width: 100%;
  flex-direction: row;
  gap:20px;
}

.board{
  flex:1;
}

.boardHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:flex-start;
  border-bottom: 1px solid var(--gray_2, #DBDBDB);
}


.textBox {
  display: flex;
  flex-direction: column;
}

.mainText {
  font-family: "Pretendard Variable";
  font-weight: 600;
  font-size: 28px;
  margin-bottom: 8px;
}

.subText {
  font-family: "Pretendard Variable";
  font-weight: 500;
  color: #736D6D;
  font-size: 20px;
  margin-bottom: 20.5px;
}

.boardBody{
  display: flex;
  flex-direction: column;
}

.bodyItem {
  display: flex;
  padding: 26px 16px;
  flex-direction: row;
  justify-content: space-between;
  gap:20px;
}

.bodyItem .title{
  font-family: "Pretendard Variable";
  color: #222020;
  flex:2;
  display: block;
  width: 200px; 
  font-size: 24px;
  font-weight: 600;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.date{
  color: #969B99;
  font-family: "Pretendard Variable";
  font-size: 20px;
  font-weight: 600;
  flex:1;
}

.plusButton{

  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  color: white;

  font-family: "Pretendard Variable";
  font-size: 40px;
}



section{
  width: 1200px;
}
@media (min-width: 1280px) {
  body {
  }
}
