@import url("https://fonts.dubuplus.com/css?family=Nanum Square");
@import url("https://fonts.dubuplus.com/css?family=Noto Sans KR");
@import url('https://fonts.googleapis.com/css2?family=Saira:wght@600;700&display=swap');

.mobile_wrap * { font-family: 'Noto Sans KR'; letter-spacing:-0.5px; }

#mobile_hmenu{
    display:none;
}
#mobile_mainmenu {
    display: none;
    visibility: hidden;
}
#header {
    padding-bottom: 10px;
}
#header_menu {
    text-align: right;
    padding: 20px 0px;
}
#header_menu li {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}

/*Logo : Start */
#logo  {
    font-size:31px;
    font-weight:bold;
    text-align:center;
}
/*Logo : End */

/* Main_menu: Start */
#main_menu {
    width: 100%;
    text-align: center;
    padding: 20px 0px 0px;
}
#main_menu .gnb {
    position: relative;
}
#main_menu .btn_main_menu,
#main_menu .gnb span {
    display: none;
}
#main_menu .gnb .depth1 {
    display: inline-block;
    height: 40px;
    padding: 0 30px;
}
#main_menu .depth1 > a {
    display: block;
    padding: 0 20px;
    font-size: 17px;
    font-weight: 500 !important;
    color: #333 !important;
    text-align: left;
    text-decoration: none;
}
#main_menu .gnb .depth1 > a:hover {
    color: #2e85c7;
}
#main_menu .gnb .depth1:hover .depth2 {
    display: block;
    text-align: left;
    z-index: 100;
    opacity: 1;
}
#main_menu .depth1:hover .depth2 li {
    line-height: 35px;
}
#main_menu .gnb .depth2 {
    display: none;
    position: absolute;
    min-width: 140px;
    background-color: #9ece3e;
    -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.3);
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.3);
    top: 40px;
    opacity: 0;

}
#main_menu .depth2:before {
    content:"";
    position: absolute;
    border-color: #9ece3e transparent;
    border-style: solid;
    border-width:0 14px 15px 14px;
    display: inline-block;
    top:45%;
    width: 0;
    top: -15px;
    left:10%;
    width: 28px;
    height: 14px;
}
#main_menu .depth2 li > a {
    display: block;
    width: 100%;
    padding: 0 15px;
    font-size: 12px;
    color: #fff;
    text-decoration: none;
}
#main_menu .depth3 {
    display: none;
}
#main_menu .depth2 li:hover > .depth3 {
    display: block;
}
#main_menu .depth3 {
    position:absolute;
    left:100%;
    margin-top:-35px;
    min-width:140px;
    display:none;
    background-color: #3a6600;
}
#main_menu .depth1:last-child .depth3 {
    left:-100%;
}
#main_menu .depth2 li:hover {
    background-color: #b5d96b;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#main_menu .depth2 li > .depth3 li {
    padding-left: 10px;
    font-size: 12px;
    color: #fff;
}
#main_menu .depth3 li > a {
    color: #fff;
    text-decoration: none;
}
#main_menu .depth3 li > a:hover{
    color: #fff;
    text-decoration: none;
}
#main_menu .depth2 li > .depth3 li:hover {
    background-color: #a6c88b;
    text-decoration: none;
}
/* Main_menu: End */

/* Footer: Start */
.clear {
    clear: both;
}
#footer {
    border-top:1px solid rgb(224, 224, 224);
    padding: 30px 0px 0px;
    text-align: left;
    background-color:#333;
}
#footer_menu {
    text-align: left;
    display: block;
}
#footer_menu li {
    display: inline-block;
    padding-right: 12px;
    font-size: 14px;
}
#footer_menu li a {
    font-size: 13px;
    font-weight: bold;
    display: inline-block;
    word-break: break-all;
    color:#fff;
}
#address {
    padding-top: 20px;
    color:#ccc;
}
#address span {
    word-break: break-all;
    margin-right: 10px;
}
#address strong {
    font-weight:normal;
}
#address strong:after {
    content: ":";
    margin: 0 3px;

}
.link_privacy a {
    color: #88cdff !important;
}
#copyright {
    margin: 10px 0 30px 0;
    color:#ccc;
}



/* Footer: End */


/* Content_wrap : Start */
#content {
    padding: 40px 0 50px;
}
/* Content_wrap : End */

/* Slide_section : Start */
#col_1391755336 { padding: 0px; }
#app_1424137295 { padding: 0px; }
/* Slide_section : End */

/* Gallery : Start */
#row_1424153230 { padding-top: 20px; padding-bottom: 0px; }
#app_1424151375 { padding: 10px; background-color: rgb(245, 246, 250); }
/* Gallery : End */

/* Main_Ban : Start */
.mainban{
    display: block;
    overflow: hidden;
    position: relative;
    height: 220px;
}
.mainban.ban1 {
    background-color: rgb(245, 245, 245);
}
.mainban.ban2 {
    background-color: rgb(224, 232, 243);
}
.mainban.img_bg{
    position: absolute;
    height: 100%;
    left: 0px;
    top: 0px;
}
.mainban.ban2 .mainban_img_bg{
    position: absolute;
    height: 100%;
    right: -120px;
    top: 0px;
}
.mainban_img1 {
    position:absolute;
}
.mainban.ban1 .mainban_img1 {
    width:45%;
    right:5px;
    bottom:0;
    z-index:5;
}
.mainban.ban2 .mainban_img1 {
    width: 70%;
    bottom: -57px;
    right: -45px;
}
.mainban_txtbox {
    position: absolute;
    z-index: 10;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    padding:25px 20px;
}
.mainban_tit {
    font-size: 21px;
    letter-spacing:-2px;
}
.mainban_tit2 {
    display: block;
    margin-top: 3px;
    font-size: 14px;
}
.mainban_desc {
    width: 50%;
    margin-top: 15px;
    line-height: 1.5;
    opacity:0.7;
}
/* hover_effect */
.mainban:hover .mainban_txtbox {
    background-color:#70747d;
    background-color:rgba(54,67,100,0.3);
    color:#fff;
}
.mainban:before,
.mainban:after{
    content: '';
    position: absolute;
    z-index:1000;
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    opacity: 0;
    filter: alpha(opacity=0); /* For IE8 and earlier */
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    -ms-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}
.mainban:before{
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: scale(0,1);
    -ms-transform:scale(0,1);
    transform: scale(0,1);
}
.mainban:after{
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    -webkit-transform: scale(1,0);
    -ms-transform:scale(1.0);
    transform: scale(1,0);
}
.mainban:hover:before,
.mainban:hover:after{
    opacity: 1;
    filter: alpha(opacity=100); /* For IE8 and earlier */
    -webkit-transform: scale(1);
    -ms-transform:scale(1);
    transform: scale(1);
}
/* Main_Ban : End */

/* Social Ban : Start*/
.link_social {
    /*overflow:hidden;*/
    padding:20px;
}
.link_social:after{
    content:' ';
    display:block;
    clear:both;
}
.link_social li{
    display:inline-block;
    float:left;
    width:25%;
    text-align:center;
}
.link_social > li > a {
    position:relative;
    display:inline-block;
    width:53px;
    height:53px;
    -webkit- border-radius:50%;
    border-radius:50%;
    background-image:url(/template/s150319001001/images/ico_social.png);
    background-repeat:no-repeat;
    background-size:240px 53px;
}
.link_social > li > a > span {
    position: absolute;
    bottom: -35px;
    opacity: 0;
    filter: alpha(opacity=0); /* For IE8 and earlier */
    visibility: visible;
    min-width:70px;
    height: auto;
    line-height: 10px;
    padding: 3px;
    left: 50%;
    margin-left: -35px;
    color: #fff;
    text-align: center;
    border: 4px solid #4c4c4c;
    background-color: #4c4c4c;
    -webkit- border-radius:4px;
    border-radius: 4px;
    pointer-events: none;
    -webkit-transform: translate(35px) rotate(25deg) scale(1.5);
    -moz-transform: translate(35px) rotate(25deg) scale(1.5);
    -o-transform: translate(35px) rotate(25deg) scale(1.5);
    -ms-transform: translate(35px) rotate(25deg) scale(1.5);
    transform: translate(35px) rotate(25deg) scale(1.5);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.link_social > li > a:hover > span{
    visibility: visible;
    opacity: 1;
    filter: alpha(opacity=100); /* For IE8 and earlier */
    -webkit-transform: translate(0px) rotate(0deg) scale(1);
    -moz-transform: translate(0px) rotate(0deg) scale(1);
    -o-transform: translate(0px) rotate(0deg) scale(1);
    -ms-transform: translate(0px) rotate(0deg) scale(1);
    transform: translate(0px) rotate(0deg) scale(1);
}
.link_social > li > a > span:after{
    content: '';
    position: absolute;
    top: -10px;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -9px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 8px solid #4c4c4c;
}
.s_fb0{
    background-position: 0 0 ;
}
.s_tw{
    background-position: -62px 0px;
}
.s_blog{
    background-position: -124px 0px;
}
.s_gg{
    background-position: -187px 0px;
}
/* Social Ban : End */


/* CS_center : Start */
.cs_center {
    overflow:hidden;
    position: relative;
    padding: 15px 20px;
    height: 260px;
    text-align: center;
    background-color: rgb(245, 246, 250);
}
.cs_center .cs_img {
    position: absolute;
    width: 100%;
    height:150px;
    top:-10px;
    left:0;
}
.cs_center .cs_img img {
    height:100%;/*max-height:150px;*/
}
.cs_center .cs_content {
    margin-top: 120px;
}
.cs_center > h5 {
    position:relative;
    z-index:10;
    font-size: 18px;
    text-align: left;
    color: #fff;
}
.cs_center .call_num {
    display: block;
    color: rgb(89, 131, 189);
    font-size: 32px;
    font-weight:bold;
}
.cs_center .mail_add {
    display:block;
    font-size:14px;
    margin-bottom:8px;
}
.cs_center p {
    color:#747474;
}
/* CS_center : End*/

/* Scroll_To_Top : Start */
.scrollup {
    display: none;
    position: fixed;
    width: 40px;
    height: 40px;
    padding:10px 5px;
    bottom: 30px;
    right: 10px;
    text-align:center;
    background-color: #f0f0f0;
    background-color:rgba(242, 242, 242, 0.9);
    border:1px solid #D5D5D5;
    -webkit- border-radius:10px;
    border-radius:10px;
    box-shadow:0px 0px 2px rgba(0,0,0,0.1);
    font-weight:bold;
    font-size:14px;
    color:#a1a1a1;
}
/* Scroll_To_Top : End */

/* Retina_Image */
@media all and (-webkit-min-device-pixel-ratio: 2) {
    .link_social > li > a {
        background-image:url(/template/s150319001001/images/ico_social@2x.png);
        background-size:240px 53px;
    }
    #mobile_hmenu .bth_m_hmenu    {
        background:url(/template/s150319001001/images/btn_hmenu_close@2x.png) no-repeat 50% 50%;
        background-size:28px 28px;
    }
}
/*Search*/

.box_search.type_1 {
    width: 100%;
    height: 42px;
    border: 1px solid #cccccc;
    text-align: left;
    background-color: #fff;
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    border-radius: 20px;
    padding-right: 55px;
    overflow: hidden;
}
.box_search.type_1 .tf_search_keyword {
    text-align: left;
    height: 40px;
    border: none;
    padding-left: 22px;
    width: 100%;
}
.box_search.type_1 .btn_search {
    width: 46px;
    border-left: 1px solid #cccccc;
    height: 40px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0;
    text-indent: -5000px;
    overflow: hidden;
    line-height: 7;
    background: #f6f6f6 url(/template/s150319001001/images/search_btn_1.png) center center no-repeat;
}
.box_search.type_2 {
    height: 42px;
    border: 1px solid #444444;
    text-align: left;
    background-color: #1b1b1b;
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    border-radius: 20px;
    padding-right: 55px;
    overflow: hidden;
}
.box_search.type_2 .tf_search_keyword {
    text-align: left;
    height: 40px;
    border: none;
    padding-left: 22px;
    width: 100%;
    color: #c5c4c4;
    background: none;
}
.box_search.type_2 .btn_search {
    width: 46px;
    border-left: 1px solid #444444;
    height: 40px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0;
    text-indent: -5000px;
    overflow: hidden;
    line-height: 7;
    background: #616161 url(/template/s150319001001/images/search_btn_2.png) center center no-repeat;
}




/* 수정 slide text_center */


#slide_items_1460960653094,
#slide_items_1460960717024
{

    left:0px !important;
    right:0px !important;
    top:50% !important;
    bottom:0px !important;
    margin-top:-150px;
}
.slide_items {
    margin:0 auto;

}

#slide_items_1460960684911{
    left:120px !important;
    right:0px !important;
    top:50% !important;
    bottom:0px !important;
    margin-top:-240px;

}

#slide_items_1460961153773,
#slide_items_1460961242824,
#slide_items_1460961256059 {

    left:0px !important;
    right:0px !important;
    top:50% !important;
    bottom:0px !important;
    margin-top:-70px;
}
.slide_items {
    margin:0 auto;

}



@media screen and (min-width:992px) and (max-width:1199px){

    #slide_items_1460960684911{
        left:40px !important;
        right:0px !important;
        top:50% !important;
        bottom:0px !important;
        margin-top:-210px;

    }

}







@media screen and (min-width:769px) and (max-width:991px){

    #slide_items_1460960653094,
    #slide_items_1460960717024
    {

        left:0px !important;
        right:0px !important;
        top:50% !important;
        bottom:0px !important;
        margin-top:-100px;
    }
    .slide_items {
        margin:0 auto;

    }

    #slide_items_1460960684911{
        left:80px !important;
        right:0px !important;
        top:50% !important;
        bottom:0px !important;
        margin-top:-145px;

    }


}


/*게시판 설정 변경*/

/*게시판타이틀 숨김 */
.DUBU_Board_s150319001001 .gallery_main .tit_gallery_main {
    display:none;
}

/*상하간격*/
.DUBU_Board_s150319001001 .gallery_main .msg_nocontent {
    border-top:0 !important;
    border-bottom:0 !important;
}

/*게시판 기본 타이틀 height*/
.DUBU_Board_s150319001001 .gallery_main .gallery_main_header {
    height:0 !important;
}


/* copyright */

#copyright p > a {
    color:#ccc;
}
/* Mobile header Search:START */
.mobile_hmenu .dubu_search_main{
    padding: 5px;
}
.mobile_hmenu .box_search {
    width: 100%;
    height: 28px;
    border: 1px solid #cccccc;
    text-align: left;
    background-color: #fff;
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    border-radius: 20px;
    padding-right: 55px;
    overflow: hidden;
}
.mobile_hmenu .box_search .tf_search_keyword {
    text-align: left;
    height: 26px;
    border: none;
    padding-left: 10px;
    width: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.mobile_hmenu .box_search .btn_search {
    width: 30px;
    border-left: 1px solid #cccccc;
    height: 26px;
    position: absolute;
    top: 0;
    right: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    text-indent: -5000px;
    overflow: hidden;
    line-height: 28px;
    background: #f6f6f6 url(/template/s150319001001/images/search_btn_1.png) center center no-repeat;
}
/* Mobile header Search: END */



/* 테마컬러 메인 레이아웃에 넣어야할 코드*/
#header_menu li.link_home a {
    background-color: transparent !important;
}
#main_menu .gnb .depth1 {
    background: transparent !important;
}
#main_menu .gnb .depth1:hover > a {
    background-color: transparent !important;
}
#footer #footer_menu .link_privacy a {
    color: #e60012;
}
.mobile_wrap .mobile_hmenu .tit_m_hmenu .bth_m_hmenu {
    background-color:transparent !important;
}
.link_momenu {
    background-color:transparent;
}
#mobile_mainmenu .gnb .depth2 > ul > li:hover > a {
    color: #fff;
}




/* 배너타이틀 */
.bn_tit {text-align:left; margin-bottom: 10px; padding-left: 75px;}
.bn_tit h3 {font-size:24px; color:#333;}
.bn_tit p {font-size:15px; color:#a9a9a9;}
.bn_tit a{ width: 45px; height: 45px; background-color:#bbdf8a; font-size: 30px; position: absolute; right: 17px; top: 5px; border-radius: 10px; text-align: center; color: #fff;}

.bg1 {background:url(/template/s150319001001/images/bn_bg1.png) no-repeat 0 5px;}
.bg2 {background:url(/template/s150319001001/images/bn_bg2.png) no-repeat 0 4px;}

.DUBU_Board_s150319001001 .board_main_content tbody tr {display: block; background:#f5f5f5;padding:10px 20px;  margin-bottom: 5px;}
.DUBU_Board_s150319001001 .board_main table.tab_content td { padding: 0 !important;}
.DUBU_Board_s150319001001 .board_main table.tab_content td.col_name {text-align:right;}

/* 고객센터 */
.main_cs {text-align:center;}
.main_cs h3 {    font-size: 32px;    color: #333;    font-weight: 600;    letter-spacing: -2px; }
.main_cs p {font-size:15px; color:#a9a9a9;}
.main_cs > a {display:block; font-family: 'Saira', sans-serif; letter-spacing: -0.8px; font-size:40px; line-height: 1.2; margin-top: 10px;color:#3b8ee2;}
.main_cs span {display:block;font-size:25px;  font-family: 'Saira', sans-serif; color:#616161;  line-height: 1}
.main_cs ul {margin-top:10px;}
.main_cs li {border:1px solid #333; display:inline-block; margin:5px; padding:5px 0 7px; width:120px; border-radius: 20px;}
.main_cs li a {color:#333;font-size:15px;}


#quick_1489393815334 {    top: 300px !important;}
.DUBU_Quick.skin01 .quick_list .quick_li {    padding: 0 !important;}
.DUBU_Quick.skin01 .quick_list .quick_li a {    padding-bottom: 0 !important;}
.DUBU_Quick.skin01 .quick_list .quick_li a .quick_text { display: none;}

.slideshow.skin_type9 .carousel-dots {    right: 15% !important;}




/* main_bn 수정 */

.main_bn {text-align:center;}
.main_bn span { background: #fff; border: 10px solid #4cb2f2; display: block; border-radius: 50%; height: 200px; width: 200px; line-height: 1.5; padding: 50px; margin: 0 auto 25px;}
.main_bn span img {    margin: 0 auto; display: block;}
.main_bn h3 {color: #000; font-size: 22px; font-weight: 500; letter-spacing: -1px;}
.main_bn p { margin-top: 10px; color: #838383; line-height: 1.3; font-size: 17px; font-weight: 300;}

/* tablet */
@media screen and (min-width:769px) and (max-width:991px){
    .main_bn {margin: 40px 0}
    .main_bn span { border: 7px solid #4cb2f2; height: 130px;    margin: 0 auto 15px;width: 130px;    padding: 25px;}
    .main_bn span img { width: 60px;}
    .main_bn h3 { font-size: 20px;}
    .main_bn p { font-size: 13px; margin-top: 5px;}
}

/* mobile */
@media screen and (max-width:768px){
    .main_bn {margin: 20px 0}
    .main_bn span { border: 4px solid #4cb2f2; height: 70px;  width: 70px; margin: 0 auto 5px;padding: 12px;}
    .main_bn span img { width: 30px;}
    .main_bn h3 { font-size: 16px;}
    .main_bn p {display:none;}
}

#address span.address_cel {
    color: transparent;
}